
.replyContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsl(212deg 24% 26% / 53%);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card section {
  background-color: hsl(0, 0%, 100%);
  width: 22rem;
  height: 15rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
}

.card article button {
  font-size: 14px;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}